/*!
 * Grid CSS
 */


.flex-row .col-card-4 {
    float: left;
}
.flex-row .col-card-3 {
    float: left;
}
.card {
    box-shadow: none;
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
