/*!
 * MM02 CSS
 */

a:active, a:link, a:visited {
    color: #444;
    text-decoration: none;
}
a.button {
    background: #848484;
    color: #fff;
}
.tile {
    background: #848484;
}
.intro-header a {
    color: #eee;
}
input[type="submit"] {
    background-color: #848484;
}
footer a:active, footer a:link, footer a:visited {
    color: #eee;
}
.follow-us img {
    background-color: #848484;
}
.intro-overlay {
    background-color: rgba(0,0,0,0.5);
}
.banner-content-wrapper {
    background: #666;
    background: -webkit-linear-gradient(left, #666 , transparent);
    background: -o-linear-gradient(right, #666, transparent);
    background: -moz-linear-gradient(right, #666, transparent);
    background: linear-gradient(to right, #666 , transparent);
}



nav {
    background-color: #848484;
    color: #fff;
}
nav a:link, a:visited {
    color: #fff;
}
nav a:focus, nav a:active, .current {
    background-color: #999;
    outline: 0;
    color: #fff !important;
}
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tna-menu {
    display: block;
    position: relative;
}
.tna-menu > ul {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.tna-menu > ul > li {
    display: block;
    float: left;
    border-right: 1px solid #999;
}
.tna-menu > ul > li > a {
    display: block;
    padding: 12px 20px;
}



.sub-menu {
    width: 100%;
    background: #999;
}
.sub-menu > div {
    display: none;
    max-width: 1240px;
    width: 100%;
    padding: 36px 20px 36px 12px;
    margin: 0 auto;
}
.sub-menu > div a {
    display: block;
    width: 100%;
    padding: 7px 0;
}
.sub-menu > div a:hover {
    text-decoration: underline;
}
.sub-menu > div.open-menu {
    display: block;
}
.sub-menu p {
    padding-right: 20%;
}
.sub-menu h3 {
    margin-top: 0;
}



