/*!
 * MM02 CSS
 */

a:active, a:link, a:visited {
    color: #444;
    text-decoration: none;
}
.tile {
    background: #848484;
}
.intro-header a {
    color: #eee;
}
input[type="submit"] {
    background-color: #848484;
}
footer a:active, footer a:link, footer a:visited {
    color: #eee;
}
.follow-us img {
    background-color: #848484;
}

