/*!
 * New styles go here
 */

.banner-full-width {
    padding: 1em;
    min-height: 320px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1.6em;
}
.banner-full-width h1 {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    margin-top: 48px;
}
.home-banner {
    background-position: center center;
    background-size: cover;
    height: 288px;
    position: relative;
}
.home-banner .entry-header {
    background: none;
}
.home-banner .entry-content {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,.66);
    color: #ddd;
    width: 100%;
    padding: 1em .2em;
}
.home-banner .entry-content h3 {
    margin-top: 0;
}
.banner-header {
    color: #fff;
}
.banner-header .open {
    max-width: 240px;
    margin: 0 auto;
    padding-left: 60px;
    text-align: left;
    background: url('../img/clock.png') left top no-repeat;
}
.banner-header .open a:active, .banner-header .open a:link, .banner-header .open a:visited {
    color: #fce45c;
}
.banner-header .action {
    margin: 1.5em 0 2.5em;
}
.banner-header .action .button {
    margin: 0 0.2em 0.5em;
}
.blog-banner {
    min-height: 260px;
    position: relative;
}
.blog-toolbar {
    padding: 0.6em 0;
}
.blog-nav {
    margin-bottom: 1.6em;
}
.blog-nav a.button {
    position: relative;
    margin: 0.5em 0.5em 0.5em 0;
}
.blog-nav .arrow-down {
    position: absolute;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #008484;
}
.blog-nav a.secondary-btn {
    background: #ddd;
    color: #222;
}
a.secondary-btn:hover {
    background: #FCE45C;
    color: #000;
    text-decoration: underline;
    border: none;
}
/* nav */
header {
    padding-bottom: 0;
}
.mega-nav {
    margin-top: 7px;
    background-color: #405480;
    color: #fff;
}
.mega-nav a {
    color: #fff;
}
.mega-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mega-nav li {
    float: left;
    position: relative;
    display: block;
    padding: 0.5em 1em 0.5em;
    margin: 0;
}
.subscribe-icon img {
    padding: 5px !important;
    margin-top: 0.5em !important;
}
.dropdown-menu {
    background-color: #405480;
    color: #fff;
    width: 100%;
}
.dropdown-menu a {
    color: #fff;
}
.dropdown-menu h3 {
    margin-top: 0;
}
.about-menu {
    border-top: solid 1px #5671aa;
    display: none;
    padding: 1em;
}
.about-menu li {
    display: block;
    padding: 0.5em 1em 0.5em;
    margin: 0;
}
.expand-dropdown-menu {
    display: block;
}
/* form */
.blog-search {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,.66);
    width: 100%;
}
select {
    border: 1px solid #ccc;
    height: 39px;
    margin: 0.5em 0;
}
/* Remove button margins in Webkit */
.blog-search form, .blog-nav input {
    margin: 0; padding: 0;
}
.blog-search form {
    position: relative;
    margin: 0.5em 0;
    background-color: #008484;
    padding: 1px;
}
.blog-search form input[type=text] {
    /* style */
    border: none;
    padding: 7px;

    /* default input size isn't wide enough */
    width: 100%;

    /* keeps input from overflowing its container */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* prevents input from flowing behind the button */
    padding-right: 60px;

    /* line-height (which determines height) renders slightly different across browsers.
    But specifiying a fixed line-height: 14px caused a 1px difference in IE.
    I found it easier just to lock in the height */
    height: 39px;
}
.blog-search form input[type="submit"] {
    /* style */
    background-image: url(../img/search-white.png);
    border: none;
    padding: 7px;

    /* to match input height above */
    height: 39px;
    width: 39px;

    /* removes the box from DOM */
    float: right;

    /* alternative to negative margin-top,
    which seems to hide my button behind the input */
    position: relative;
    margin-top: -39px;
}

.no-breadcrumb {
    margin-top: 46px;
}

.equal-heights-flex-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.card-grid {
    width: 33.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.5em;
}
.card-grid-4-items {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.5em;
}
.card-grid-4-items .card {
    border-left: solid 4px #ccc;
}
.card {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px #ddd;
}
.card p {
    margin-bottom: 0.5em;
}
.card .entry-content {
    padding: 1em;
}
.card h3 {
    margin: 0.5em 0;
}
.card h3 a {
    font-family: Bitter,"Open Sans",arial,serif !important;
}
.card a:link .content-type,
.card a:link .content-date,
.card a:visited .content-type,
.card a:visited .content-date {
    color: #8b8b8b;
    font-size: 0.9em;
}
.card .content-type {
    width: 100%;
}
.card .content-type img {
    float: right;
    opacity: 0.5;
}
.feature-banner .content-type img {
    float: right;
}
.card a {
    position: relative;
    height: 100%;
    display: block;
}
.card a:link .content-description,
.card a:visited .content-description {
    color: #333;
}
.card a:hover {
    text-decoration: none;
}
.card a:hover h3 {
    text-decoration: underline;
}
.card .entry-thumbnail {
    width: 100%;
    height: 185px;
    background-position: center center;
    background-size: cover;
}
.card .entry-thumbnail img {
    width: 100%;
}
.container .feature-banner {
    margin: 0 15px 1.5em 15px;
}
.feature-banner {
    margin-bottom: 1.5em;
    background-position: center center;
    background-size: cover;
}
.banner-content-wrapper {
    padding: 1.3em;
    width: 100%;
    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000 , transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000 , transparent); /* Standard syntax */
}
.banner-content {
    color: #fff;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 48% 0 15px;
}
.banner-toolbar {
    border-top: 1px #eee solid;
    padding-top: 0.5em;
}
.opening-times table {
    width: 100%;
}
.follow-us img {
    background-color: #008484;
    border-radius: 50%;
    padding: 9px;
    margin: 0 0.2em 0.3em 0;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .card-grid {
        width: 33%;
    }
    .card-grid-4-items {
        width: 49.6%;
    }
}
@media (max-width: 768px) {
    .card-grid {
        width: 100%;
    }
    .card-grid-4-items {
        width: 50%;
    }
    .banner-content {
        padding: 0 15px;
    }
    .banner-content-wrapper {
        background: #000; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #000 , #000 , transparent); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #000, #000 , transparent); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #000, #000 , transparent); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #000 , #000 , transparent); /* Standard syntax */
    }
}
@media (max-width: 480px) {
    .card-grid-4-items {
        width: 100%;
    }
}


